profiles {
    standard {
        process.executor = 'local'
        params.cores = 1
        params.nodes = 1
        params.purge_modules = ""
        params.openmpi_module = ""
        params.ray_module = ""
        params.samtools_module = ""
        params.python_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.getorganelle_module = ""
    }
    local_multithread {
        process.executor = 'local'
        params.cores = 1
        params.nodes = 1
        params.purge_modules = ""
        params.openmpi_module = ""
        params.ray_module = ""
        params.samtools_module = ""
        params.python_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.getorganelle_module = ""
    }
    slurmHPC {
        process.executor = 'slurm'
        params.cores = 20
        params.nodes = 5
        params.purge_modules = "module purge"
        params.openmpi_module = ""
        params.ray_module = "/nfs/software/modules/ray/2.3.1"
        params.samtools_module = "/nfs/sw/Modules/samtools/1.3.1/samtools"
        params.python_module = "/nfs/software/modules/python/3.8.1"
        params.bedtools_module = "/nfs/sw/Modules/bedtools"
        params.bbtools_module = "/nfs/software/modules/bbtools/38.94"
        params.getorganelle_module = "/nfs/software/modules/getorganelle/1.7.1"
    }
    slurmHPC_int {
        process.executor = 'local'
        params.cores = 20
        params.nodes = 5
        params.purge_modules = "module purge"
        params.openmpi_module = ""
        params.ray_module = "/nfs/software/modules/ray/2.3.1"
        params.samtools_module = "/nfs/sw/Modules/samtools/1.3.1/samtools"
        params.python_module = "/nfs/software/modules/python/3.8.1"
        params.bedtools_module = "/nfs/sw/Modules/bedtools"
        params.bbtools_module = "/nfs/software/modules/bbtools/38.94"
        params.getorganelle_module = "/nfs/software/modules/getorganelle/1.7.1"
    }
}
